<mat-toolbar class=".mat-toolbar-row" [ngClass]="{'app-toolbar' : this.activeRoutes['application']}" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onMenuClicked()" *ngIf="isAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/favicon.png" alt="" style="padding-right: 10px; padding-left: 10px"><a [routerLink]="this.userRole + '/home'" style="padding-right: 10px">My InternApp</a>
  <ul>
    <li>
      <a mat-button routerLink="/student/apply" routerLinkActive="active" *ngIf="isAuthenticated && this.appType === undefined && userRole === 'student' && this.activeRoutes['application'] === false" [routerLinkActiveOptions]="{exact: true}">Apply</a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/posts/create" routerLinkActive="active" *ngIf="isAuthenticated && this.activeRoutes['posts']">Create a Post</a>
    </li>
    <li>
      <button mat-icon-button class="btn" *ngIf="isAuthenticated && this.activeRoutes['application'] && this.userRole === 'coordinator'" (click)="open()"><span class="material-icons">
        <mat-icon matTooltipShowDelay="750" matTooltip="Create new comment thread">add_comment</mat-icon></span></button>
    </li>
    <div class="vl"></div>
    <li>
      <a mat-button routerLink="/auth/login" routerLinkActive="active" *ngIf="!isAuthenticated">Log in</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="active" *ngIf="!isAuthenticated">Sign up</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" (click)="onLogout()">Log out</a>
    </li>
  </ul>
</mat-toolbar>
