<mat-card class="login-panel">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-title>{{ !isLoading ? "Log in to your account" : "Logging into your account..."}}</mat-card-title>
  <br>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <mat-label class="mat-body">&nbsp; Email Address</mat-label>
      <div class="input-icon icon-username">
      </div>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        #email="ngModel"
        required
        autocomplete="email"
        email
        placeholder="Ex: pat@example.com">
      <mat-icon matPrefix class="input material-icons-outlined" color="primary">account_circle</mat-icon>
      <mat-error *ngIf="email.invalid">Email is <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="mat-body">&nbsp; Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        name="password"
        ngModel
        #password="ngModel"
        required
        autocomplete="password"
        placeholder="Password">
      <mat-icon matPrefix class="input material-icons-outlined" color="primary">lock</mat-icon>
      <button type="button" class="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <div class="flex-box-login">
      <button mat-raised-button color="primary" type="submit">Log in</button>
    </div>
  </form>
  <br>
  <mat-divider></mat-divider>
  <mat-card-footer>
    New to the InternApp? &nbsp;
    <a routerLink="/auth/signup">Sign Up</a>
  </mat-card-footer>
</mat-card>
