<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label class="mat-body">Email Address</mat-label>
      <textarea
        matInput
        rows="1"
        type="email"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
      ></textarea>
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="mat-body">Password</mat-label>
      <input type="password" name="password" autocomplete="off" ngModel #password="ngModel" matInput placeholder="Password">
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <div class="flex-box">
      <button mat-raised-button color="accent" type="submit">Login</button>
    </div>
  </form>
</mat-card>
