.container {
  padding-bottom: 10px;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.flex-grid {
  display: flex;
  margin: 0 0 20px 0;
}

.mobile-grid {
  margin-bottom: 20px;
}

.col {
  flex: 1;
  width: 100%;
}

.flex-grid-half {
  display: flex;
  justify-content: space-between;
}

.flex-grid-half .col{
  width: 47%;
}

.flex-grid-half .col + .col{
  padding-left: 20px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
