<h1>Welcome! <br>Please choose a program to begin the application process.</h1>
<form (submit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select [disabled]="disableSelect.value" [(ngModel)]="program" name="applications">
      <mat-option value="BIO">Biology (BIOL 4800)</mat-option>
      <mat-option value="ITEC" disabled>Information Technology (ITEC 4900) (disabled)</mat-option>
      <mat-option value="CHEM" disabled>Chemistry (disabled)</mat-option>
      <mat-option value="EXSC" disabled>Exercise Science (disabled)</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="primary" type="submit">Start application</button>
</form>
