<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSubmit()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label class="mat-body">Title</mat-label>
      <textarea
        matInput
        formControlName="title"
        rows="1"
        type="text"
        >Title</textarea>
      <mat-error *ngIf="form.get('title')!.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <div>
      <button mat-stroked-button class="mat-button" type="button" (click)="filePicker.click()">Upload Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <mat-label class="mat-body">Content</mat-label>
      <textarea
        matInput
        formControlName="content"
        rows="4">Content</textarea>
      <mat-error *ngIf="form.get('content')!.invalid">Please enter some post content</mat-error>
    </mat-form-field>
    <div class="flex-box">
      <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Save Post</button>
      <button class="cancel-edit" mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-card>
