@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field,
textarea {
  width: 100%;
}

button {
  margin-top: 1rem;
}

.mat-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%
}

.cancel-edit {
  margin-left: 5px;
}

.flex-box {
  display: flex;
  justify-content: flex-end;
}
