<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" #accordion="matAccordion" *ngIf="posts.length > 0 && !isLoading">
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="onExpandOrCollapse(accordion)">
      <span class="material-icons" *ngIf="this.listExpandOrCollapse === 'Expand' || (this.postsOpened === 0 && this.postsOpened < this.pageSize)">unfold_more</span>
      <span class="material-icons" *ngIf="this.listExpandOrCollapse === 'Collapse' || (this.postsOpened === this.pageSize && this.postsOpened > 0)">unfold_less</span>
      {{ this.listExpandOrCollapse }}
    </button>
  </div>
  <mat-expansion-panel *ngFor="let post of posts" (closed)="onPostClosed()" (opened)="onPostOpened()" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p [innerHTML]="post.content | linebreak"></p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/posts/edit', post._id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post._id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="this.totalNumberOfPosts" [pageSize]="this.pageSize" [pageSizeOptions]="this.pageSizeOptions" [pageIndex]="this.currentPage" (page)="onChangedPageSize($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length === 0 && !isLoading">No posts on this page!</p>
